!!!
%html
  %head

  %body
    %h1 Someone thinks you're wrong!
    %p
      Hi,
      = @recipient.name
    %p
      = @voter.name
      at MovieRama has very different tastes to you! They hate the movie
      = @movie.title
    %p Maybe you can convince them otherwise?
    %p Come back soon, and find out what's popular!
