!!!
%html
  %head

  %body
    %h1 Someone agrees with you!
    %p
      Hi,
      = @recipient.name
    %p
      = @voter.name
      at MovieRama agrees with you! They also like the movie
      = @movie.title
    %p You obviously have good taste!
    %p Come back soon, and find out what's popular!
